.header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.icon {
  height: 1.25em;
}

.buttons {
  align-items: center;
  gap: 1em;
}

.email {
  align-items: center;
  cursor: pointer;
}

.email span {
  margin-left: 0.7em;
  line-height: 0;
  font-size: 0.875em;
}
