.header {
  width: 100%;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
}

.icon {
  font-size: 1.25em;
}

.buttons {
  align-items: center;
  gap: 1em;
}

.email {
  align-items: center;
  cursor: pointer;
}

.email span {
  margin-left: 0.7em;
  line-height: 0;
  font-size: 0.875em;
}

@media (max-width: 820px) {
  .header {
    flex-direction: column;
    text-align: center;
  }

  .header h1 {
    width: 100%;
    font-size: 2em;
    line-height: inherit;
    padding: 0.25em;
  }
}
